*, *:before, *:after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color--background) !important;
}

body {
  opacity: 0;

  &.loaded {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}
