
@font-face {
    font-family:"Operator Mono SSm Bold";
    src:url("OperatorMonoSSm-Bold.woff2") format("woff2"),url("OperatorMonoSSm-Bold.woff") format("woff"),url("OperatorMonoSSm-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        