
@font-face {
    font-family:"Operator Mono SSm Medium Italic";
    src:url("OperatorMonoSSm-MediumItalic.woff2") format("woff2"),url("OperatorMonoSSm-MediumItalic.woff") format("woff"),url("OperatorMonoSSm-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        